# dependencies
node_modules

# build
dist
tmp
out-tsc

# env files
.env
.env.*
!.env.example

# logs
npm-debug.log
yarn-error.log

# coverage
coverage

# IDE
.vscode
.idea

# system
.DS_Store
Thumbs.db

# vercel
.vercel
.env*
